#container{    
    background-color: white;
}

#brand{
    color: blueviolet;
    position: absolute;
    left: 250px;
    font-size: 30px;
}


#searchBox{
    background: linear-gradient(to bottom, white, lightgreen);
    padding: 20px;
    position: absolute;
    left: 67%;
    top: 45px;
}

#header{
    display: flex;
       
}

#menu{
    background: linear-gradient(to bottom, white, yellow);
    padding: 15px;
    position: absolute;
    width: 70%;
    left: 250px;
    top: 120px;
}   

#menu li{
    display: inline;
    padding: 5%;
    font-size: 20px;
    color: blueviolet;
}

a {
    text-decoration: none;
}

#introduction{
    background: linear-gradient(to bottom, white, lightgreen);
    position: absolute;
    top: 23%;
    width: 70%;
    left: 250px;
    padding: 15px;
}

#introduction h3{
    font-size: 40px;
}

#introduction p{
    font-size: 30px;
}

#leftsidebar{
    position: absolute;
    top: 54%;
    left: 250px;
    border-radius: 15px;
    border: solid lightgreen;
    width: 600px;
}

h3 {
    font-size: 30px;
    margin-left: 60px;
}

#rightsidebar{
    position: absolute;
    top: 54%;
    left: 900px;
    border-radius: 15px;
    border: solid lightgreen;
    width: 710px;
}

footer{
    position: absolute;
    top: 98%;
    background: linear-gradient(to bottom, white, yellow);
    width: 70%;
    left: 250px;
    padding: 15px;
    text-align: center;
    color: blueviolet;
    font-size: 25px;
}

#rightsidebar ul{
    list-style: none;
}

#rightsidebar li::before{
    content: url(../imagenes/tick.png);
}

#leftsidebar ul{
    list-style: none;
}

#leftsidebar li::before{
    content: url(../imagenes/arrow.png);
}

#rightsidebar li{
    font-size: 20px;
    margin-left: 60px;
}

#leftsidebar li{
    font-size: 23px;
    margin-left: 60px;
}

