#container{    
    background-color: white;
}

#brand{
    color: blueviolet;
    position: absolute;
    left: 600px;
    
}


#searchBox{
    background: linear-gradient(to bottom, white, lightgreen);
    padding: 20px;
    position: absolute;
    left: 55%;
}

#header{
    display: flex;
       
}

#menu{
    background: linear-gradient(to bottom, white, yellow);
    padding: 15px;
    position: absolute;
    width: 70%;
    left: 250px;
    top: 90px;
}   

#menu li{
    display: inline;
    padding: 5%;
    font-size: 20px;
    color: blueviolet;
}

a {
    text-decoration: none;
}

#introduction{
    background: linear-gradient(to bottom, white, lightgreen);
    position: absolute;
    top: 20%;
    width: 70%;
    left: 250px;
    padding: 15px;
}

#introduction h3{
    font-size: 40px;
}

#introduction p{
    font-size: 30px;
}

#leftsidebar{
    position: absolute;
    top: 50%;
    left: 400px;
    
}

#rightsidebar{
    position: absolute;
    top: 50%;
    left: 1200px;
}

footer{
    position: absolute;
    top: 90%;
    background: linear-gradient(to bottom, white, yellow);
    width: 70%;
    left: 250px;
    padding: 15px;
    text-align: center;
    color: blueviolet;
    font-size: 25px;
}